[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MackenzieClarkson
[access "refs/for/refs/*"]
	read = group user/MackenzieClarkson
	push = group user/MackenzieClarkson
	label-Code-Review = -2..+2 group user/MackenzieClarkson
	label-Verified = -1..+1 group user/MackenzieClarkson
	rebase = group user/MackenzieClarkson
	removeReviewer = group user/MackenzieClarkson
	submit = group user/MackenzieClarkson
[access "refs/heads/*"]
	read = group user/MackenzieClarkson
	create = group user/MackenzieClarkson
	push = +force group user/MackenzieClarkson
	pushMerge = group user/MackenzieClarkson
[access "refs/tags/*"]
	push = group user/MackenzieClarkson
	push = +force group user/MackenzieClarkson
