nav.darken-3
    .nav-wrapper.white-text
        a.brand-logo.center(href="/") Hospital DBMS
        ul
            li
                a(href="/") Home
            li#patients
                a.dropdown-button(href="#!" data-activates="dropdown1") Patients 
                    i.material-icons.right arrow_drop_down

    block content   
