nav
    .nav-wrapper.white-text
        a.brand-logo.center(href="/") Hospital DBMS
        ul
            li
                a(href="/") Home

            li#patients
                a.dropdown-button(href="#!" data-activates="dropdown1") Patients 
                    i.material-icons.right arrow_drop_down
            if user=="doctors" || user=="staff"
                li
                    a(href="doctors") Doctors
                li
                    a(href="staff") Staff

if user=="doctors"
    include ./doctornav
else if user=="staff"
    include ./staffnav
else      
    include ./patientnav
//- block content
