ul#dropdown1.dropdown-content
            li
                a(href="patientlookup") Patient Lookup
            li
                a(href="patientsbydepartment") By Department

//- Duplicate ul to prevent desktop and mobile navbar dropdowns from conflicting
ul#dropdown2.dropdown-content
            li
                a(href="patientlookup") Patient Lookup
            li
                a(href="patientsbydepartment") By Department

script.
    $(document).ready(function() {
        $('nav').addClass('patient');
    });
