ul#dropdown1.dropdown-content
    li
        a(href="/patients") All
    li
        a(href="/patientlookup") Patient Lookup

ul#dropdown2.dropdown-content
    li
        a(href="/patients") All
    li
        a(href="/patientlookup") Patient Lookup

script.
    $(document).ready(function() {
        $('nav').addClass('staff');
    });
