extends ./layouts/default
block content
  include ./components/patientnav
  .container        
    h2 Departments
    for department in departments
      .card.primary.darken-2
        .card-content
          span.card-title= department.DName
          ul.collection.dep(id=department.Dno)
            for room in rooms
              if room.Dno==department.Dno
                li.collection-item.primary= "Room #: "+room.Rno
                li.collection-item.primary= "Room Name: "+room.RName                     
