extends ./layouts/default
block content
  include ./components/nav
  div.container
    h2 Department Senior
    .row
      for name in DepartmentSenior
        .col.s12.m6.l4
          .card.blue.darken-1
            .card-content.white-text
              span.card-title= name.DoctorName
              ul.collection.primary
                li.collection-item.blue.darken-4= "Total time worked: "+ name.asTtimeWorked
                
