extends ./layouts/default
block content
  br
  br
  .container
    .row
      .col.s12
        .card.primary.center.white-text
          .card-content
            h2 Welcome
            .card-action
              a.patient.waves-effect.waves-light.btn-large(href="patients/patients") Patients/Visitors
              br
              br
              a.doctor.waves-effect.waves-light.btn-large(href="doctors/doctors") Doctors
              br
              br
              a.staff.waves-effect.waves-light.btn-large(href="staff/staff") Staff
