extends ./layouts/default
block content
  include ./components/nav
  div.container
    h2 Large Salary Positions
    .row
      for position in LargeSalaryPositions
        .col.s12.m6.l4
          .card.teal.darken-1
            .card-content.white-text
              span.card-title= position.Sposition