extends ./layouts/default
block content
  include ./components/nav
  div.container
    h2 Total Salary
    .row
      for sal in PayRoll
        .col.s12.m6.l4
          .card.primary.darken-1
            .card-content.white-text
              span.card-title= sal.Sum_Salary
              