extends ../layouts/default
block content
  include ../components/nav
  div.container
    h2 Available Rooms
    .row
      for A in AvailableRooms
        .col.s12.m6.l4
          .card.pink.darken-1
            .card-content.white-text
              span.card-title= A.Rno
              ul.collection.primary
                li.collection-item.pink.darken-4= "Room Name: "+ A.RName
                li.collection-item.pink.darken-4= "Dep No: "+ A.Dno
