extends ../layouts/default
block content
  include ../components/nav
  div.container
    h2 Good Staff By Department
    .row
      for Staff in GoodStaffByDept
        .col.s12.m6.l4
          .card.deep-purple
            .card-content.white-text
              span.card-title= Staff.DoctorName
              ul.collection.primary
                li.collection-item.deep-purple.darken-4= "Telephone: " + Staff.Telephone
